body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Graffiti";
  src: local("Graffiti"),
    url("./components/fonts/Graffiti/Graffiti.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "QM";
  src: local("QuickerMachine"),
    url("./components/fonts/QuickerMachine/QuickerMachine.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "BS";
  src: local("BlackStory"),
    url("./components/fonts/BlackStory/BlackStory.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "GH";
  src: local("GhostHouse"),
    url("./components/fonts/GhostHouse/GhostHouse.ttf") format("truetype");
  font-weight: bold;
}