.App {
    text-align: center;
    background-image: url('../images/modernblack.jpg');
}

/*Dashboard*/
.dashShell {
    width: auto;
    border: 1rem solid rgb(60, 58, 58);
    height: 100%;
    background-position: .1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .75%;
}

.dashLeft {
    font-family: cursive;
    font-size: 6em;
    font-weight: bolder;
    font-style: italic;
    font-family: 'QM';
    color: lightgray;
}

.dashLogo {
    color: rgb(205, 220, 182);
    border: solid .1rem red;
    border-radius: 50%;
    text-shadow: .2rem .2rem red;
}

.dashPic,
.dashPicL {
    border-radius: 5%;
    border: .2rem solid red;
    box-shadow: .5rem .5rem rgb(60, 58, 58);
    width: 12rem;
    height: 10rem;
    margin-bottom: 3%;
}

.dashCenter,
.dashRight {
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}

.dashPic {
    width: 40rem;
    height: 15rem;
}

/*Everything Else*/

.btn {
    width: auto;
    font-family: 'QM';
    font-size: 2em;
    background-color: red;
    color: antiquewhite;
    border: .2rem solid black;
    border-radius: 30%;
    box-shadow: .2rem .2rem rgb(60, 58, 58);
}

.buttonHolder {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.buttonHolder2 {
    margin: auto;
}

.container {
    width: auto;
    height: auto;
    color: black;
    font-family: 'GH';
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container3 {
    width: auto;
    height: auto;
    font-family: 'GH';
    font-size: 3rem;
    color: silver;
    display: flex;
    justify-content: space-evenly;
}

.container4 {
    width: auto;
    height: auto;
    font-family: 'GH';
    font-size: 3rem;
    color: silver;
    padding-bottom: 5%;
}

.details {
    width: 30em;
    font-family: 'GH';
    height: auto;
    margin: 1%;
    background-color: rgb(70, 76, 109);
    color: black;
    border: .1rem solid red;
    box-shadow: .1rem .1rem red;
    border-radius: 5%;
    padding: 1%;
}

.details3 {
    width: auto;
    height: auto;
    color: silver;
    margin: 5%;
    background-color: rgb(70, 76, 109);
    border: .1rem solid red;
    box-shadow: .2rem .2rem red;
    text-shadow: .15rem .15rem black;
    border-radius: 5%;
    padding: 2%;
}

.entryBox {
    width: 80%;
    height: 100%;
    border-radius: 2rem;
    background-color: transparent;
    white-space: pre-wrap;
    overflow: auto
}

.innerBox {
    align-content: center;
    padding-right: 80px;
    font-size: 3rem;
}

.inputBox {
    margin-left: 3%;
    border-radius: 2%;
    width: 50%;
    background-color: transparent;
    white-space: pre-wrap;
    overflow: auto
}

.inputBox2 {
    margin-left: 3%;
    border-radius: 2%;
    width: 50%;
    color: white;
    background-color: transparent;
    white-space: pre-wrap;
    overflow: auto
}

.pageTitle {
    color: rgb(205, 220, 182);
    font-size: 4em;
    text-shadow: .2rem .2rem red;
    font-family: 'QM';
}

.slideLink {
    color: red;
    font-family: 'GH';
    font-size: 3rem;
    margin: 10%;

}




































