.App {
    text-align: center;
    background-image: url('../images/modernblack.jpg');
}

/*Dashboard*/
.dashShell {
    width: auto;
    border: 1rem solid rgb(60, 58, 58);
    height: 100%;
    background-position: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .75%;
}
.dashLeft {
    font-family: cursive;
    font-size: 6rem;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Graffiti';
    color: lightgray;
}

.dashLogo {
    color: rgb(205, 220, 182);
    border: solid .1rem red;
    border-radius: 50%;
    text-shadow: .2rem .2rem red;
}
.dashPic, .dashPicL {
    border-radius: 5%;
    border: .2rem solid red;
    box-shadow: .5rem .5rem rgb(60, 58, 58);
    width: 12rem;
    height: 10rem;
    margin-bottom: 3%;
}
.dashCenter, .dashRight {
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}

.dashPic {
    width: 40rem;
    height: 15rem;
}

/*displayAll*/

.pageTitle {
    color: rgb(205, 220, 182);
    font-family: 'Graffiti';
    font-size: 4em;
    text-decoration: underline;
    text-shadow: .2rem .2rem red;
}
.banner {
    width: auto;
    height: auto;
    font-family: cursive;
    background-color: transparent;
    color: black;
    border: 5px solid black;
}
.container {
    width: auto;
    height: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.details {
    width: 30em;
    font-family: 'QM';
    height: auto;
    margin: 1%;
    background-color: rgb(137, 96, 96);
    color: black;
    border: .1rem solid red;
    box-shadow: .1rem .1rem red;
    border-radius: 5%;
    padding: 1%;
}

.dishTitle {
    color: yellow;
    font-style: italic;
    font-size: 4.5rem;
    text-shadow: .2rem .2rem black;
    padding: 2%;
} 

.btn {
    width: auto;
    font-size: 2rem;
    background-color: red;
    color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px;
}
.container2 {
    width: auto;
    height: auto;
    font-family: cursive;
    color: black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn2 {
    width: 150px;
    height: 50px;
    background-color: red;
    color:whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px;
    margin: 2px;
    padding: 2px;
}

/* dish form */
.details3 {
    width: auto;
    height: auto;
    margin: 5%;
    background-color: rgb(70, 76, 109);
    border: .1rem solid red;
    box-shadow: .2rem .2rem red;
    border-radius: 5%;
    padding: 4%;
}

/* login/reg */
.container3 {
    width: auto;
    height: 100vh;
    font-family: 'Graffiti';
    color: silver;
    display: flex;
    justify-content: space-evenly;
    text-shadow: .15rem .15rem black;
}

.inputBox {
    margin-left: 2%;
    border-radius: 2%;
}

/* showone */
.container4 {
    width: auto;
    height: auto;
    font-family: cursive;
    color: black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.innerBox {
    align-content: center;
    padding-right: 80px;
}
.btn3 {
    width: 150px;
    height: 50px;
    background-color: red;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px;
    margin: 2px;
    padding: 2px;
}
.btn4 {
    width: 200px;
    height: 100px;
    background-color: rgb(191, 20, 48);
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px;
    margin-top: 10px;
    padding: 2px;
}

/* API page */
.details4 {
    width: 800px;
    height: auto;
    margin-left: 350px;
    margin-top: 50px;
    background-color: rgb(135, 152, 222);
    color: black;
    border: 3px solid greenyellow;
    box-shadow: 5px 5px;
    border-radius: 5%;
    padding: 20px;
    align-self: center;
}
.container5 {
    padding-top: 10px;
    width: auto;
    height: 2000px;
    font-family: cursive;
    color: black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.buttonHolder {
    margin: 20px;
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* update form */
.container6 {
    width: auto;
    height: 1200px;
    font-family: cursive;
    color: black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.details5 {
    width: auto;
    height: auto;
    margin: 5px;
    background-color: rgb(135, 152, 222);
    color: black;
    border: 3px solid greenyellow;
    box-shadow: 5px 5px;
    border-radius: 5%;
    padding: 20px;
}

/* searchApi */
.details6 {
    width: auto;
    height: auto;
    margin: 20px;
    background-color: rgb(137, 96, 96);
    color: black;
    border: 3px solid greenyellow;
    box-shadow: 5px 5px;
    border-radius: 5%;
    font-weight: bold;
}
.container7 {
    padding-top: 10px;
    width: auto;
    height: 3500px;
    font-family: cursive;
    color: black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}